html, body, .container-fluid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ddd;
}
.sidebar {
  transition: all 0.3s ease;
  position: absolute;
  /* background: lightgreen; */
  width: 240px;
  height: 100%;
  clear: none;
  left: 0;
}
.content {
  transition: all 0.5s ease;
  background: lightblue;
  height: 100%;
  margin-left: 240px;
  overflow: hidden;
}

.container-fluid.toggled .sidebar {
  left: 0px;
}
.container-fluid.toggled .content {
  margin-left: 64px;
}

/* On small screens the sidebar should be the full-width */
@media (max-width: 768px) {
  .container-fluid .sidebar {
    left: 0px;
  }
  .container-fluid .content {
    margin-left: 64px;
  }
  
  .container-fluid.toggled .sidebar {
    width: 100%;
    left: 0;
  }
  .container-fluid.toggled .content {
    margin-left: 100%;
  }
}

#editor {
  width: 100% !important;
}

*{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	background-color:white;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	color:#404040;
	position:relative;
}

a{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wrapper{
	/* width:450px; */
	/* margin:30px auto 0; */
	background-color:#FFFFFF;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	text-align:right;
	padding:10px;
	margin-bottom:10px;
	background-color:#5DBA9D;
}

header a{
	font-size:20px;
	color:#FFFFFF;
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:10px;
	text-align:center;
	display:inline-block;
}

header a:hover, .list-mode header a.hide-list:hover{
	background-color:#11956c;
}

header a.hide-list{
	background-color:#11956c;
}

.list-mode header a.hide-list{
	background-color:#5DBA9D;
}

.list-mode header a.show-list{
	background-color:#11956c;
}

.container:after{
	content:"";
	clear:both;
	display:table;
}

.container{
	padding:40px;
}

.box:nth-child(10n+6) {
  margin-left: 100px !important;
  /* background-color: black !important; */
}

.wrapper .box{
	float:left;
	width:100px;
	height:100px;
	margin:0 10px 10px 0;
	background-color:#CCCCCC;
	-webkit-transition:all 1.0s ease;
	-moz-transition:all 1.0s ease;
	transition:all 1.0s ease;
	transition:all 1.0s ease;
}

.wrapper.list-mode .container{
	padding-right:10px;
}

.wrapper.list-mode .box{
	width:100%;
}